<div class="container">
  <%= form_with model: @article do |t| %>
    <div class="form-group mt-1">
      <%= t.label :title %>
      <%= t.text_field :title %>
    </div>

    <div class="form-group mt-1">
      <%= t.label :content %>
      <%= t.text_field :content %>
    </div>

    <div class="form-group mt-1">
      <%= t.label :paragraph %>
      <%= t.text_field :paragraph %>
    </div>

      <%= t.submit class: 'btn btn-primary mt-3' %>
  <% end %>
 </div>
